body {
    font-family: "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    background-color: lightblue;
    border-radius: 30px;
}

.map-container {
    position: relative;
    width: 1024px;
    height: 724px;
}

.map-image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

